/* /* Mobile Layout: 320px  */

@media screen and (max-height: 767px){
    .header-slider .font-spa {
      font-size: 28px;
    }
    .header-slider h1 {
      font-size: 32px;
      margin-bottom: 25px;
    }
    .header{
      min-height: 600px;
    }
    .header-slider{
      min-height: 450px;
    }
    .header-slider hr{
      width: 100px;
    }
    .sidenav a{
      font-size: 18px;
    }
    .header{
      background-size: cover;
      width: 100%;
    }
    .Search-area:hover .main-search{
      left: 50px;
      bottom: 0px;
    }
    .main-search {
      width: 230px;
    }
  
  }
  

