@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;1,500&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a{
  font-family: 'Montserrat', sans-serif;
}
.font-spa{
  font-family: 'Kaushan Script', cursive;
}
ul{
  padding: 0;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #95e1d3; 
  border-radius: 10px;
}

/*===============================================
          Common Style CSS
==================================================*/

  p{
    font-size: 18px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
  }

/*===============================================
          End  Common Style CSS
==================================================*/

/*===============================================
         Main CSS
==================================================*/

.header{
  background: url('../images/header-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1000px;
  position: relative;
  z-index: 1;
}
.header::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #fce38a, #ffca7d, #ffb078, #fe987a, #f38181);
  opacity: 0.9;
  z-index: -1;
}
.menu{
  padding: 10px 0;
}
.navbar-brand {
  font-weight: 700;
  font-size: 25px;
}
.navbar-light .navbar-nav .nav-link {
  margin-right: 20px;
  font-size: 20px;
  color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: #aaba3d;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #ffca7d;
}




.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #242424;
  display: block;
  transition: 0.3s;
  font-weight: 700;
}

.sidenav a:hover {
  color: #abd;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.Search-area:hover .main-search{
  visibility: visible;
  bottom: -30px;
  transition: 0.5s;
  opacity: 1;
}
.Search-area{
  position: relative;
}
.main-search{
  visibility: hidden;
  position: absolute;
  bottom: 100px;
  right: 0;
  transition: 0.5s;
  width: 200px;
  opacity: 0;
}
.main-search input{
  padding: 15px 20px;
  border: transparent;
  border-radius: 5px;
}

/*==================================================================
                End Menu Bar Area
====================================================================*/

.header-slider{
  min-height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}
.header-slider .font-spa{
  font-size: 72px;
  color: #fff;
}
.header-slider h1{
  font-size: 150px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
} 
.header-slider h1 span{
  display: block;
}
.header-slider hr{
  height: 3px;
  width: 225px;
  background: #fff;
  margin: 0 auto 50px;
}
.mogo-btn{
  padding: 12px 34px;
  border: 3px solid #fff;
  background: transparent;
  font-size: 18px;
  text-transform: uppercase;
}
.mogo-btn:hover{
  background: linear-gradient(to top, #fce38a, #ffca7d, #ffb078, #fe987a, #f38181);
  border: 3px solid transparent;
}
.owl-theme .owl-nav.disabled + .owl-dots{
  margin-top: 80px;
}
.owl-theme .owl-dots .owl-dot span {
    width: 200px;
    height: 10px;
    background: #f8ebc5;
    border-radius: 5px;
}
.owl-theme .owl-dots .owl-dot.active span{
  background: #f8ebc5;
  position: relative;
}
.owl-theme .owl-dots .owl-dot:hover span {
  background-image: #f8ebc5;
}
.owl-theme .owl-dots .owl-dot.active span::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: red;
  border-radius: 5px;
}

/*                End Header Slider Area             */
/*==================================================================================================
                            End Header Area
====================================================================================================*/
.about{
  margin-bottom: 100px;
}
.about-title{
  padding-top: 100px;
  text-align: center;
}
.about-title .font-spa{
  font-size: 25px;
  font-weight: 500;
}
.about-title h2{
  padding-bottom: 30px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.about-title .hori-line{
  height: 3px;
  width: 60px;
  background: #f38181;
  margin: 0 auto 50px;
}
.about-title p{
  font-size: 18px;
  width: 90%;
  padding-bottom: 100px;
}
/*                End About Title Area             */
.about-img img{
  width: 100%;
}
.single-about{
  position: relative;
  cursor: pointer;
}
.single-about:hover{
  -webkit-box-shadow: 10px 10px 0px 1px rgba(149,225,211,1);
  -moz-box-shadow: 10px 10px 0px 1px rgba(149,225,211,1);
  box-shadow: 10px 10px 0px 1px rgba(149,225,211,1);
}
.single-about::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: linear-gradient(to top, #fce38a, #ffca7d, #ffb078, #fe987a, #f38181);
  opacity: 0.9;
  visibility: hidden;
  transition: .5s;
}
.single-about:hover::before{
  visibility: visible;
  transition: .5s;
  height: 100%;
}
.single-about:hover .about-info{
  visibility: visible;
  opacity: 1;
  transition: .5s;
}
/*.single-about::after{
  position: absolute;
  content: "";
  top: 10px;
  right: -10px;
  width: 100%;
  height: 100%;
  background: #95e1d3;
  opacity: 1;
  z-index: -2;
}*/
.about-info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}
.about-info i{
  font-size: 20px;
  color: #fff;
}
.about-info h4{
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
/*                End About IMG Area             */
/*==================================================================================================
                            End About Area
====================================================================================================*/
.counter-area{
  background: #95e1d3;
}
.single-counter{
  text-align: center;
  border-right: 2px solid #fff;
  padding: 40px 50px;
}
.single-counter:nth-child(1){
  border-left: 2px solid #fff;
}
.single-counter span{
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}
.single-counter p{
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
}
.count-1{
  text-align: center;
}
/*==================================================================================================
                            End Counter Area
====================================================================================================*/
.service-area{
  margin-bottom: 50px;
  position: relative;
}
.service-area::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 25%;
  height: 50%;
  border-top: 5px solid rgb(0, 255, 170);
  border-left: 5px solid rgb(120, 34, 160);
  transition: 0.5s;
}
.service-area::after{
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 25%;
  height: 25%;
  border-bottom: 5px solid rgb(150, 117, 11);
  border-right: 5px solid rgb(0, 195, 255);
  transition: 0.5s;
}
.service-area:hover::after{
  width: 100%;
  height: 100%;
  border-bottom: 5px solid rgb(77, 170, 92);
  border-right: 5px solid rgb(59, 35, 116);
  transition: 0.5s;
}
.service-area:hover::before{
  width: 100%;
  height: 100%;
  border-top: 5px solid rgb(163, 48, 82);
  border-left: 5px solid rgb(6, 102, 102);
  transition: 0.5s;
}
.service-img i{
  color: #95e1d3;
  font-size: 50px;
  padding: 40px 20px 10px;
  
}
.service-text h4{
  font-size: 30px;
  color: #333333;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 50px;
}

.service-text p{
  font-size: 15px;
}
.service .service-hr {
  height: 1px;
  width: 100%;
  background: #e5e5e5;
  margin-bottom: 50px;
}
