@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;1,500&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a{
  font-family: 'Montserrat', sans-serif;
}
.font-spa{
  font-family: 'Kaushan Script', cursive;
}
ul{
  padding: 0;
  margin: 0;
}

/*===============================================
          Common Style CSS
==================================================*/

  p{
    font-size: 18px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
  }

/*===============================================
          End  Common Style CSS
==================================================*/

/*===============================================
         Main CSS
==================================================*/

.header{
  background: url('../images/header-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1000px;
  position: relative;
  z-index: 1;
}
.header::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #fce38a, #ffca7d, #ffb078, #fe987a, #f38181);
  opacity: 0.9;
  z-index: -1;
}
.menu{
  padding: 10px 0;
}
.navbar-brand {
  font-weight: 700;
  font-size: 25px;
}
.navbar-light .navbar-nav .nav-link {
  margin-right: 20px;
  font-size: 20px;
  color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: #aaba3d;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #ffca7d;
}




.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #242424;
  display: block;
  transition: 0.3s;
  font-weight: 700;
}

.sidenav a:hover {
  color: #abd;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.Search-area:hover .main-search{
  visibility: visible;
  bottom: -30px;
  transition: 0.5s;
  opacity: 1;
}
.Search-area{
  position: relative;
}
.main-search{
  visibility: hidden;
  position: absolute;
  bottom: 100px;
  right: 0;
  transition: 0.5s;
  width: 200px;
  opacity: 0;
}
.main-search input{
  padding: 15px 20px;
  border: transparent;
  border-radius: 5px;
}

/*==================================================================
                End Menu Bar Area
====================================================================*/

.header-slider{
  min-height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header-slider .font-spa{
  font-size: 72px;
  color: #fff;
}
.header-slider h1{
  font-size: 150px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
} 
.header-slider h1 span{
  display: block;
}
.header-slider hr{
  height: 3px;
  width: 225px;
  background: #fff;
  margin: 0 auto 50px;
}
.mogo-btn{
  padding: 12px 34px;
  border: 3px solid #fff;
  background: transparent;
  font-size: 18px;
  text-transform: uppercase;
}
.mogo-btn:hover{
  background: linear-gradient(to top, #fce38a, #ffca7d, #ffb078, #fe987a, #f38181);
  border: 3px solid #fce38a;
}



@media screen and (max-height: 767px){
  .header-slider .font-spa {
    font-size: 28px;
  }
  .header-slider h1 {
    font-size: 32px;
    margin-bottom: 25px;
  }
  .header{
    min-height: 600px;
  }
  .header-slider{
    min-height: 450px;
  }
  .header-slider hr{
    width: 100px;
  }
  .sidenav a{
    font-size: 18px;
  }
  .header{
    background-size: cover;
    width: 100%;
  }
  .Search-area:hover .main-search{
    left: 50px;
    bottom: 0px;
  }
  .main-search {
    width: 230px;
  }

}
